In [ ]:
import numpy as np
import pandas as pd
labels = pd.read_csv()
features = pd.read_csv()

In [ ]:
labels = labels[0]

In [ ]:
labels

In [ ]:
label_result = {
}

labels = labels[0].replace(label_result)
labels

In [38]:
save_path = 'D:/anssil_data/split_data/'
label_list = [1,2,3,4,5]
a = 0


for row in range(features.shape[0]):
    a+=1
    if lab in label_list:
        dfs = merge_datas.loc[[row],:]
        dfs.to_csv(save_path +str(lab)+ '_' + str(a)+'.csv',header=None)

In [39]:
dfs

,1,2,3,4,5,6,7,8,9,10,...,891,892,893,894,895,896,897,898,899,900
32820,0,0,0,0,0,0,1,3,3,1,...,0,0,1,0,0,0,0,0,0,0